@model TestWarehouse.Models.Box

@{
    ViewData["Title"] = "Добавить коробку";
}

<h2>Добавить коробку на паллету</h2>

<form asp-action="CreateBox" method="post">
    <!-- Передаем идентификатор паллеты -->
    <input type="hidden" name="palletId" value="@ViewData["PalletId"]" />

    <div class="form-group">
        <label asp-for="Width">Ширина</label>
        <input asp-for="Width" class="form-control" />
        <span asp-validation-for="Width" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Height">Высота</label>
        <input asp-for="Height" class="form-control" />
        <span asp-validation-for="Height" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Depth">Глубина</label>
        <input asp-for="Depth" class="form-control" />
        <span asp-validation-for="Depth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Weight">Вес</label>
        <input asp-for="Weight" class="form-control" />
        <span asp-validation-for="Weight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ManufactureDate">Дата производства (обязательно)</label>
        <input asp-for="ManufactureDate" class="form-control" />
        <span asp-validation-for="ManufactureDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ExpirationDate">Срок годности (необязательно)</label>
        <input asp-for="ExpirationDate" class="form-control" />
        <span asp-validation-for="ExpirationDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

<a asp-action="Index">Назад к списку</a>
